
    .content {
      flex: 1;
      padding: 20px;
      background-color: #efeaea;
      background-image: url("{% static 'images/Frame.png' %}");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .topbar {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    .topbar input[type="search"] {
      padding: 10px;
      width: 60%;
      border-radius: 20px;
      border: 1px solid #ccc;
    }
    .gradient-button {
      background: linear-gradient(to right, rgb(61, 11, 86), #552a74, #360459);
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      margin: 5px;
    }
    .gradient-button:hover {
      opacity: 0.9;
    }
    .form-section, .selected-questions {
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
    }
    .form-section select, .form-section input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 14px;
    }
    .selected-questions ul {
      list-style-type: disc;
      padding-left: 20px;
    }
  