
    .upload-section label {
      font-weight: bold;
      margin-bottom: 6px;
    }
    .upload-section input,
    .upload-section select,
    .upload-section textarea {
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 14px;
      box-sizing: border-box;
    }
    form#uploadForm {
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    .generate-section,
    .submitted-section {
      background-color: #f9f9f9;
      border-radius: 10px;
      padding: 20px;
      margin-top: 30px;
    }
    .gradient-button {
      background: linear-gradient(to right, rgb(61, 11, 86), #552a74, #360459);
      color: white;
      border: none;
      border-radius: 20px;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
      transition: 0.3s ease;
    }
    .gradient-button:hover {
      transform: scale(1.05);
      background: linear-gradient(to right, #734e94, #552a74);
    }
    .badge {
      font-size: 13px;
      padding: 5px 10px;
      border-radius: 12px;
      font-weight: 500;
    }
    .content {
      background-color: #efeaea;
      background-image: url("/images/Frame.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  